* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
    overflow-x: hidden;
    white-space: nowrap;
}

body {
    background-color: blueviolet;
}

.nav {
    margin-left: 90%;
    align-items: end;
    padding: 0px;
}

.header {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: 100;
}

.article {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    background-color: white;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
}

.article img {
    display: block;
    margin: 0px auto 20px;
    width: 200px;
    height: auto;
}

.h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Livvic', sans-serif;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el cambio de color al pasar el ratón */
}

button[type="submit"]:hover {
    background-color: darkviolet;
}

#message {
    margin-top: 20px;
    color: rgb(255, 0, 195);
}
