* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Mejor scroll behavior */
}

body {
  background-color: rgb(239, 239, 239);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 1001;
}

.header {
  position: fixed;
  top: 50px; 
  left: 0;
  width: 100%;
  height: 116px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  padding: 20px 0;
}

.slider-container {
  margin-top: 0px; 
  z-index: 500; 
}

.slider {
  background: url(/img/slider1.png);
  background-size: cover;
  height: 50vh;
  width: 100%;
  animation: animate 20s infinite;
  margin-bottom: 50px
}

@keyframes animate {
  20% {
      background-image: url(/img/slider4.png);
      background-size: cover;
  }
  40% {
      background-image: url(/img/slider3.png);
      background-size: cover;
  }
  60% {
      background-image: url(/img/slider2.png);
      background-size: cover;
  }
  80% {
      background-image: url(/img/slider1.png);
      background-size: cover;
  }
}
.main {
  margin-top: 100px; 
  padding: 20px 12%;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  position: relative; 
  z-index: 998; 
  margin-left: 170px;
}
.main > * {
  max-width: 100%; 
  flex: 1 1 30%;
  margin-bottom: 0px;
}
.horas {
  margin-top: 20px;
  text-align: left;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0;
}

.event-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.event-table th, .event-table td {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.event-date {
  font-size: 2em;
  font-weight: bold;
  color: orange;
}

.event-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.event-details {
  text-align: left;
}

.courses-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-image img {
  width: auto; 
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.course-details {
  text-align: center;
  margin-top: 10px;
}

.divider {
  border-top: 2px solid purple;
  margin: 20px 0;
}
footer{
  background-color: grey;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 165px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.content {
  margin-left: 15px;
  padding: 16px;
}
.profile-container {
  position: relative;
  display: inline-block;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 1100px;
  transform: translateY(-50%);
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  height: 72px;
}

.profile-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 35px
}

.profile-menu a:hover {
  background-color: #f1f1f1;
}
